* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Consolas', 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2B2B2B;
  color: #D4D4D4;
  overflow: hidden;
}

code {
  font-family: 'Consolas', 'Courier New', monospace;
}